<style>
font-style {
  font-family: 'Raleway', sans-serif;


}
</style>
<style>
background-color {
  background-color: #D3D3D3;
}
</style>

.background-color {
  color: #D3D3D3;
}
.text-color {
  color: #D5ADB8;
}
.title {
    margin-top: 0;
    margin-bottom: 10px;
}
h1 {
    margin-bottom: 10px;
    font-size: 64px;
    line-height: 1.0625;
    font-weight: 600;
    letter-spacing: -.01em;
    text-transform: none;
}
h1, h2, h3, h4, h5, h6, ol, p, ul {
    margin-bottom: 10px;
}
h1, h3 {
    margin-top: 20px;
}
h1 {
    margin: 0.67em 0;
}
b, h1, h2, h3, h4, h5, h6, label, optgroup, strong {
    font-weight: 700;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.fancy-button {
  color: #fff;
  background-color: #FFB6C1;
  font-family: 'Raleway', sans-serif;


  font-size: 20px;
  padding: 20px;
  border: none;
  border-radius: 30px;
  margin-left: 0px;

  transition: background-color .25s ease-in-out, margin 1s ease-in-out;

  .moved{
    margin-left: 200px;
  }


}
.fancy-button:hover{}
  background-color: black;

.hidden-thing {
  display: none;
  background-color: #fff;
}

.fancy-header:hover .hidden-thing {
  display: block;
}
<style>
    img {
        border-radius: 58%;

    }
</style>
<style>
h1 {
  color: #D5ADB8;
  font-size: 150%;
}
</style>
<style>
h2 {
  color: #D5ADB8;
}
</style>
.font-style {
  color: #D5ADB8;
}
