html{
  background-color: #FFB6C1
}



p{
  margin-left: 4vw;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

h1{
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  margin-left: 2vw;
  border:solid 2px #fa7dd2;
}

h2{
  font-family: "Raleway", sans-serif;
  margin-left: 4vw;
}



/*img{
  width: 30vw;
  position: relative;
  margin-left: 30vw;
  margin-top: 5vw;
}*/
img.bg {

  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {
  img.bg {
    /*left: 50%;*/
    margin-left: -512px;
  }
}
